[phases.setup]
nixPkgs = ["python313"]

[phases.install]
dependsOn = ["setup"]
cmds = ["pip install -r requirements.txt"]

[phases.build]
dependsOn = ["install"]
cmds = [
  "python manage.py collectstatic --noinput",
  "python manage.py migrate --noinput"
]

[start]
cmd = "gunicorn cashflow_manager.wsgi:application --bind 0.0.0.0:$PORT --workers 4"
